<h2>
    輸入個人資料
</h2>
<div class ="movieImg"  >
    <img src={{hero.url}} width="200px" hight="300px">
</div>
<div style="font-size:22px" >
    <div class="Date">
        <br><label>日期:</label>{{selectedsits.moviedate}}
    </div>
    <div class="Time">    
        <br><label>時間:</label>{{selectedsits.movietime}}
    </div>
    <div class="sits">    
        <br><label>座位:</label>{{selectedsits.resersit}}
    </div>
    <div class="name" *ngFor="let mname of selectedsits.resersit;let i=index">
        <br><label>訂位者{{selectedsits.resersit[i]}}姓名: </label><input [(ngModel)]="information.name[i]" placeholder="name"/>   ex:{{information.name[i]}}
        
    </div>
    <div class="phone" *ngFor="let mphone of selectedsits.resersit;let j=index">
        <br><label>訂位者{{selectedsits.resersit[i]}}電話: </label><input [(ngModel)]="information.phone[j]" placeholder="phone"/>   ex:{{information.phone[j]}}
    </div>
    <br><span>確認訂票</span>
</div>