.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes li{
  float: left;
  
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 150px;
  height: 250px;
  left: 0;
  cursor: pointer;
  position: relative;
  left:12%;
  background-color: #eee;
  margin: 1em;
  padding: 0em 0 0 0;     
}
.heroes ul{  
  border-radius: 5px
  
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  
  border-style:solid;
  border-color:red;
  position: relative;
  left:12%;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
 
}
button:hover {
  background-color: #cfd8dc;
}
.detail{
  
  position: relative;
  left:40%;
  
}
.detailbutton:hover{
  color:white;
  
}